

$font-light: #fff;
$font-blue: #0098d3;
$font-blue-dark: #0b668a;
$font-dark: #151515;
$font-gray: #a2a2a2;

$background-menu-dark: #151515;
$background-menu-transparent: transparent;

$background-dark: #151515;
$background-light: #fff;