@import '../sass//index.scss';

.skills {
    margin-top: 60px;

    &__block {
        margin-top: 50px;

        > h2 {
            margin-bottom: 20px;
        }

        h5 {
            background-color: $font-blue-dark !important;
            font-size: 16px !important; 
            margin-top: 6px !important;
        }
        
    }
}